.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9ecef;
}

.nav {
    
}
.nav > button {
    background: none;
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    transition-property: text-underline-offset;
    transition-duration: 0.2s;
}
.nav>button, .nav > button:active, .nav > button:focus,  .nav > button:hover {
    border: none;
    outline: none;
}

.outline {
    position: absolute;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px;
    border-radius: 10px;
    pointer-events: none; /* Ensure the div does not interfere with clicking the buttons */
    transition-property: width, height, top, left;
    transition-duration: 0.2s;
    transition-timing-function:  ease-in
}
.nav > button:hover {
    text-underline-offset: 0.4em;
}